.video-grid {
  margin-top: 120px;
  margin-left: 315px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 16px;
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}
.card-text {
  font-size: small;
}
.card-title {
  font-size: medium;
}
.music-container{
  
  transition: opacity 0.15s;
  display: inline-block;
}

.music-container .play-button {
 
  position: absolute;
  width: 40px;
  border-radius: 20px;
  bottom:190px;
  left: 90px;
  opacity: 0;
  transition: opacity 0.15s;
}
.music-container:hover{
  opacity: 0.8;
}
.music-container:hover .play-button {
  opacity: 1 !important;
}
.row {
  overflow:hidden;
}