.video-grid {
  margin-top: 120px;
  overflow-x: auto;
}
.video-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.video-row::-webkit-scrollbar {
  width: 0;
}
.video-grid .card {
  flex: 0 0 auto;
  margin-right: 10px;
}
@media (max-width:767px) {
  .video-grid {
    overflow-x: hidden;
  }
  .video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .video-grid .card {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

.card-text {
  font-size: small;
}
.card-title {
  font-size: medium;
}
.music-container{
  
  transition: opacity 0.15s;
  display: inline-block;
}

.music-container .play-button {
 
  position: absolute;
  width: 40px;
  border-radius: 20px;
  bottom:190px;
  left: 90px;
  opacity: 0;
  transition: opacity 0.15s;
}
.music-container:hover{
  opacity: 0.8;
}
.music-container:hover .play-button {
  opacity: 1 !important;
}
img {
  max-width: 100%; /* Image scales down proportionally to fit within its parent container */
  height: auto; /* Allows the image to scale proportionally */
}